@mixin background-cover {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
@mixin background-contain {
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}
@mixin vertical-align($position: relative) {
    position: $position;
    top: 50%;
    transform: translateY(-50%);
}
@mixin flex-center {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;

    align-items: center;
}
@mixin no-select {
    -webkit-touch-callout: none; 
    -webkit-user-select: none;   
    -khtml-user-select: none;    
    -moz-user-select: none;      
    -ms-user-select: none;       
    user-select: none;  
}